# Ignore node_modules folder
node_modules/

# Ignore any log files or temporary files
*.log
*.tmp

# Ignore Firebase service account JSON file
barbuzz-29b1a-firebase-adminsdk-srfma-75e610b615.json

# Ignore environment variable files
.env

# Ignore any system-specific files
.idea/
.DS_Store
